{% extends 'base.html' %}
{% block content %}



<section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="columns mx-6 my-6">

          <figure>
            <!-- PROFILE INFO -->            
            {% load static %}
            <img src="{{profile.image}}" width="300" alt="My image">
            <p class = 'title'>{{profile.display_name}}</p>
            <p>{{user.date_joined}}</p>
            <p>{{profile.city}}</p>
            <button class='button' id = 'edit-button'>Edit Profile</button>
            
          </figure>
          
        </div>

        <div class="columns">
        <!-- RECENT POSTS -->
          <div class="card mx-6 my-6 recent_posts">
            <h1 class="title is-1 mx-6 my-6">Recent Posts</h1>
 
            {% for post in profile.post_set.all %}
            
            <div>
              <header class="card-header">
                <p class="card-header-title">
                  <a class="postlink" href="{% url 'post_detail' post.id%}">
                    {{post.title}}
                  </a>
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-content">
                <div class="content">
                  
                  {{post.content}}
                  
                </div>
              </div>
              
              {% endfor %}
            </div>
          </div>
            
        </div>
        </div>
        </section>
        
        </div>
        

  <!-- EDIT PROFILE MODAL -->
<div class="modal" id="edit-profile">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Edit Profile</p>
        <!-- <button class="delete" aria-label="close"></button> -->
      </header>
        <section class="modal-card-body">
        <form action="" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
        </section>
        <footer class="modal-card-foot">
        <button type="submit" value="sign_up" class="button is-success">Save Changes</button>
        </form>
        <button id="cancel" class="button">Cancel</button>
      </footer>
    </div>
  </div>

  <script>

    // EDIT PROFILE MODAL DOM MANIPULATION
  const editButton = document.getElementById('edit-button');
  const editProfile = document.getElementById('edit-profile');
  const cancel = document.getElementById('cancel');
  editButton.addEventListener("click",()=>{editProfile.classList.add('is-active')})
  cancel.addEventListener("click",()=>{editProfile.classList.remove('is-active')})

  </script>


{% endblock %}