{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wayfarer</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&Archivo+Black&family=Archivo+Narrow:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="hero is-medium">

    <div class="hero-head">
        <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
            
            <a href="{% url 'signup' %}" class="navbar-item">
                <h1 class="is-1 title brand my-4">Wayfarer</h1>
            </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <a href="{% url 'about' %}" class="navbar-item">
                    About
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'city_index' 3 %}" class="navbar-item">
                    Cities
                </a>
                <a href="{% url 'user_profile' %}" class="navbar-item">
                    Profile
                </a>
                <a href="{% url 'logout' %}" class="navbar-item" id="">
                    Logout
                </a>
                {% else %}
                <a class="navbar-item" id="signup">
                    Sign Up
                </a>
                <a href="{% url 'login' %}" class="navbar-item" id="signin">
                Sign In
                </a>
            {% endif %}
            </div>
            </div>
        </div>
        </nav>
    </div>

    </section>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
  </section>

    <footer class="footer">
        <div class="content has-text-centered footer-body">
            <p style="color: white;">
            Wayfarer &copy 2020
            </p>
        </div>
    </footer>

  </body>
</html>