{% extends 'base.html' %}
{% block content %}


<div class="card">
    <header class="card-header">
        <p class="card-header-title title">
            {{post.title}}
        </p>
    </header>
            <p class="subtitle ml-6">
                {{profile.display_name}}
                on
                {{post.city}}
            </p>
            <p class="subtitle mr-6 mt-2">
            </p>
    <div class="card-content">
        <div class="content">
            <p>
                {{post.content}}
            </p>
      </div>
    </div>
  </div>


{% endblock %}