{% extends 'base.html' %}
{% block content %}

<div class='post_holder container is-centered mt-6'>

    <div class="card">
        <header class="card-header">
            <p class="card-header-title title">
                Edit Post
            </p>
        </header>
                <p class="subtitle ml-6 mt-3">
                    {{profile.display_name}}
                    on
                    {{post.city}}
                </p>
                <p class="subtitle mr-6 mt-2">
                </p>
        <div class="card-content">
            <div class="content">
                <form method="post" action="{% url 'city_index' post.city_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    </section>
                    <footer class="modal-card-foot">
                        <button type="submit" class="button is-success" value="login">Save changes</button>
                </form>
            </div>
        </div>
      </div>
</div>


{% endblock %}