{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class='post_holder container is-centered mt-6'>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title">
                    {{post.title}}
                </p>
            </header>
            <p class="subtitle ml-6 mt-3">
                {{profile.display_name}}
                on
                {{post.city}}
            </p>
            <p class="subtitle mr-6 mt-2">
            </p>
            <div class="card-content">
                <div class="content">
                    <p>
                        {{post.content}}
                    </p>
                </div>
            </div>
            {% if post.profile_id == current_profile.id %}
            <div class="card-footer">
                <a href="{% url 'post_edit' post.id%}" class="card-footer-item is-5">
                    Edit
                </a>
                <a href="#" class="card-footer-item is-5" id="delete-link-{{post.id}}">
                    Delete
                </a>
                <!-- MODAL FOR DELETE CONFIRMATION -->
                <div class="modal" id="delete-modal-{{post.id}}">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <div class="modal-card-head"></div>
                        <div class="modal-card-body">
                            <p class="is-3"> Are you sure you want to Delete <span
                                    style="font-weight:bold;">{{post.title}}</span> ?</p>
                            <a href="{% url 'post_delete' post.id %}">
                                Delete
                            </a>
                            <a href="#" id="cancel-delete-{{post.id}}">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JS FOR DELETE CONFIRMATION -->
            <script>
                const deleteButton{{ post.id }} = document.getElementById('delete-link-{{post.id}}');
                const deleteModal{{ post.id }} = document.getElementById('delete-modal-{{post.id}}');
                const cancelDelete{{ post.id }} = document.getElementById('cancel-delete-{{post.id}}');
                deleteButton{ { post.id } }.addEventListener("click", () => { deleteModal{ { post.id } }.classList.add('is-active') })
                cancelDelete{ { post.id } }.addEventListener("click", () => { deleteModal{ { post.id } }.classList.remove('is-active') })
            </script>
        </div>
    </div>

{% endif %}
<hr>

<!-- COMMENT TEXTAREA -->
<div>
  
    <form action="" method="POST">
        {% csrf_token %}
        {% render_field form.content class="textarea my-3" placeholder="Add A Public Comment"%}
        <button class="button is-info" type="submit">Comment</button>
    </form>
</div>


{% for comment in post.comment_set.all %}
    <div class='post_holder container is-centered mt-6'>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title title">
                    {{comment.profile}}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <p>
                        {{comment.content}}
                    </p>
                </div>
            </div>
            {% if comment.profile_id == current_profile.id %}
            <div class="card-footer">
                <a href="{% url 'comment_edit' comment.id %}" class="card-footer-item is-5">
                    Edit
                </a>
                <a href="{% url 'comment_delete' comment.id %}" class="card-footer-item is-5" id="delete-link-{{post.id}}">
                    Delete
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% endfor %}


{% endblock %}