* {
  font-family: 'Archivo Narrow', sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hero {
  background-color: #1565ba;
  color: white;
} 

.card-header-title,
.card-header-icon {
  background-color: #79B3EF;
  color: white;
}

.navbar-item,
.brand  {
  color: white;
}

.footer {
  background-color: #1565ba;
    padding: 10px;
    color: white;
}



.recent_posts {
  max-width: 500px;
}

.postlink {
  text-decoration: none;
  color: white;
}

.post_holder {
  max-width: 600px;
}

.is-grey {
  background-color: #F0F0F0;
}

.title {
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
}

.brand {
  font-family: 'Abril Fatface', cursive;
  color: rgb(255, 255, 255);
}