{% extends 'base.html' %}
{% block content %}

        <!-- CITIES -->
<div class="columns">
    <div class="column is-one-third mt-6">
        <div class="cities">
            <div class="card is-primary">
                <div class="card-content is-primary">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{city.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for cit in cities %}
        {% if cit.id != city.id %}
        <a href="{% url 'city_index' cit.id %}">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{cit.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>

            <!-- SELECTED CITY INFO -->
    <div class="column is-two-thirds mt-6">
        <div class="columns is-mobile">
            <div class="column">
                <p class="bd-notification is-info"></p>
                <h1 class="is-1 title">{{city.name}}</h1>
                <h2 class="is-2 subtitle">{{city.country}}</h2>
            </div>
            <div class="column">
                <p class="bd-notification is-info"></p>
                <img src="{{city.image}}" alt="" width="500">
            </div>
        </div>

        <!-- CITY POSTS -->
        <div class="posts">
            <button class="button is-success is-pulled-right mr-6" id="add-post">Add Post</button>
            <br>
            <hr>
            {% for post in city.post_set.all %}
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <a href="{% url 'post_detail' post.id %}">
                                <p class="title is-4">{{post.title}}</p>
                            </a>
                            <p class="subtitle is-5">{{post.profile}}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{post.content}}
                        <br>
                        {{post.created}}
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'post_edit' post.id%}" class="card-footer-item is-5">
                            Edit
                        </a>
                        <a href="#" class="card-footer-item is-5" id="delete-link-{{post.id}}">
                            Delete
                        </a>
                        <!-- DELETE CONFIRMATION MODAL -->
                        <div class="modal" id="delete-modal-{{post.id}}">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <div class="modal-card-head"></div>
                                <div class="modal-card-body">
                                    <p class="is-3"> Are you sure you want to Delete <span style="font-weight:bold;">{{post.title}}</span> ?</p>
                                    <a href="{% url 'post_delete' post.id %}">
                                        Delete
                                    </a>
                                    <a href="#" id="cancel-delete-{{post.id}}">
                                        Cancel
                                    </a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- DELETE CONFIRMATION JS FOR MODAL -->
                        <script>
                            const deleteButton{{post.id}} = document.getElementById('delete-link-{{post.id}}');
                            const deleteModal{{post.id}} = document.getElementById('delete-modal-{{post.id}}');
                            const cancelDelete{{post.id}} = document.getElementById('cancel-delete-{{post.id}}');
                            deleteButton{{post.id}}.addEventListener("click", () => { deleteModal{{post.id}}.classList.add('is-active') })
                            cancelDelete{{post.id}}.addEventListener("click", () => { deleteModal{{post.id}}.classList.remove('is-active') })
                        </script>
                    </div>
            </div>
            {% endfor %}
        </div>

    </div>

    </div>
</div>

<!-- NEW POST MODAL -->
<div class="modal" id="post-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Post</p>
            <!-- <button class="delete" aria-label="close"></button> -->
        </header>
        <section class="modal-card-body">
            <p>This is the New Post Form</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
        </section>
        <footer class="modal-card-foot">
            <button type="submit" class="button is-success">Add Post</button>
            </form>
            <button id="cancel-post" class="button">Cancel</button>
        </footer>
    </div>
</div>

<!-- JS FOR NEW POST MODAL -->
<script>
    const addPost = document.getElementById('add-post');
    const postModal = document.getElementById('post-modal');
    const cancelPost = document.getElementById('cancel-post');
    addPost.addEventListener("click", () => { postModal.classList.add('is-active') })
    cancelPost.addEventListener("click", () => { postModal.classList.remove('is-active') })
</script>



{% endblock %}